@import url('https://fonts.googleapis.com/css?family=Roboto');

:root {
  --qtijs-bluegreen-input-bg: inherit;
  --qtijs-bluegreen-details-color: #AAA;
  --qtijs-bluegreen-summary-color: #777;
  --qtijs-bluegreen-current-item-border-left: #FFFFFF77;
  --qtijs-bluegreen-item-border-left: #248F8Fcc;
  --qtijs-bluegreen-item-heading-bg: #248F8Fcc;
  --qtijs-bluegreen-item-submitted-bg: #248F8Fcc;
  --qtijs-bluegreen-item-submittable-bg: green;
  --qtijs-bluegreen-modal-feedback-bg: #FFE;
  --qtijs-bluegreen-overtime-color: #FFFAFA;
  counter-reset: question;
}
[data-qtijs-tag=assessmentTest] ::placeholder {
  font-family: sans-serif;
  font-weight: normal;
  font-size: smaller;
  opacity: .7;
}
[data-qtijs-tag=assessmentTest] textarea {
  margin-top: 1em;
  width: 97%;
  height: 14em;
  background: var(--qtijs-bluegreen-input-bg);
  border: none;
}
[data-qtijs-tag=assessmentTest] input[type=text] {
  background: var(--qtijs-bluegreen-input-bg);
  font-size: 1rem;
  font-weight: bold;
  border: none;
  border-bottom: solid 1px;
  padding-left: .5em;
}
[data-qtijs-tag=assessmentTest] details {
  color: inherit;
  background: inherit;
  font-size: inherit;
  margin: 3px;
  border-radius: 5px;
  padding: 0 .5em .5em 0;
}
[data-qtijs-tag=assessmentTest] details[open] {
  border: solid 1px var(--qtijs-bluegreen-details-color);
  font-style: italic;  
}
[data-qtijs-tag=assessmentTest] form {
  margin: 0;
  padding: 0;
}  
[data-qtijs-tag=assessmentTest] p {
  margin: .5em 0em .5em 0em;
}
[data-qtijs-tag=assessmentTest] summary {
  font-variant: small-caps;  
  font-size: .85rem;
  color: var(--qtijs-bluegreen-summary-color);
  padding: 0;
  margin: 0;
}
[data-qtijs-tag=assessmentTest] summary:focus {
  border: none;
  outline: none;    
}
[data-qtijs-tag=assessmentTest] textarea {
  border: solid 1px;
}
[data-qtijs-tag=assessmentTest] {
  background: white;
  font-family: Georgia, sans-serif;
  padding: 0 0 2em 0;
}
[data-qtijs-tag=assessmentTest]::before {
  display: block;
  content: attr(title);  
  font-size: 1.4rem;
  font-weight: bold;
  text-align: left;
  margin: 0 0 3px 1em;
  padding: 1em;
}
[data-qtijs-tag=assessmentSection] {
  border-bottom: solid 1px #DDD;
}
@media screen and (min-width: 640px) {
  [data-qtijs-tag=assessmentSection] {
    columns: 2;
    column-rule: solid 1px #DDD;
    column-gap: 0;
  }
}
[data-qtijs-tag=assessmentItem] {
  page-break-inside: avoid;
  position: relative;
  margin-bottom: 2em;
  margin: 0 .5em 2em .5em;
  --qtijs-scroll-to: 1;
}
[data-qtijs-tag=assessmentItem]::before {
  display: block;
  counter-increment: question;
  content: counter(question);  
  font-size: 1rem;
  font-weight: bold;
  font-variant: small-caps;
  margin: 0 0 1em 0;
  color: white;
  padding: .5em;
  height: 1em;
  background: var(--qtijs-bluegreen-item-heading-bg);
  position: relative;
  border-left: 2em solid var(--qtijs-bluegreen-item-border-left);
}
[data-qtijs-tag=assessmentItem].qtijs-current::before {
  border-left: 2em solid var(--qtijs-bluegreen-current-item-border-left);
}
[data-qtijs-tag=assessmentItem].qtijs-submittable .qtijs-navigation span.qtijs-next::before {
  display: block;
  position: absolute;
  background: var(--qtijs-bluegreen-item-submittable-bg);
  content: "submit";
  padding: .3em;
  color: white;
  font-weight: bold;
  right: 0;
  top: 0;
  height: 2em;
  box-sizing: border-box;
}
[data-qtijs-tag=assessmentItem].qtijs-submitted .qtijs-navigation span.qtijs-next::before {
  display: block;
  position: absolute;
  background: var(--qtijs-bluegreen-item-submitted-bg);
  content: "submitted";
  padding: .3em;
  color: white;
  right: 0;
  top: 0;
  height: 2em;
  box-sizing: border-box;
}
div.qtijs-input-wrap {
  position: relative;
  color: inherit;
  background: inherit;
  font-size: inherit;
  margin: 10px 10px 10px 2em;
  padding: 1px;
  background: var(--qtijs-bluegreen-input-bg);
  width: 85%;
}  
div[data-qtijs-tag=prompt] + div.qtijs-input-wrap {
  margin-top: 1em;
}
[data-qtijs-tag=feedbackInline] {
  display: block;
  font-style: italic;
  font-size: inherit;
  color: inherit;
  margin: 0;
  padding: 0;
  background: ivory;
}
[data-qtijs-tag=modalFeedback] {
  border: 2px solid #d7e3f7;
  margin: 1em 0 0 0;
  padding: .5em;
}
[data-qtijs-tag=testFeedback] {
  margin: 1em .5em;
}  
[data-qtijs-tag=rubricBlock] {
  font-weight: bold;
}
[data-qtijs-template-identifier][data-qtijs-show-hide=show],
[data-qtijs-outcome-identifier][data-qtijs-show-hide=show],
[data-qtijs-show-hide=hide].qtijs-triggered {
  display: none;
}
[data-qtijs-template-identifier][data-qtijs-show-hide=hide],
[data-qtijs-outcome-identifier][data-qtijs-show-hide=hide],
[data-qtijs-show-hide=show].qtijs-triggered {
  display: block;
}

/*
** TIME LIMITS
*/
[data-qtijs-tag=timeLimits] span:empty {
  display: none !important;
}
[data-qtijs-tag=assessmentTest] > [data-qtijs-tag=timeLimits] {
  position: relative;
  top: -4em;
  right: 0;
  text-align: right;
  padding-right: .5em;
  box-sizing: border-box;
  z-index: 3;
}
[data-qtijs-tag=assessmentTest] > [data-qtijs-tag=timeLimits] span {
  display: inline-block;
  font-family: "Roboto";
  font-weight: 300;
  color: green;
  border: solid 3px green;
  background-color: white;
  padding: .3em;
}
[data-qtijs-tag=assessmentTest].qtijs-overtime [data-qtijs-tag=timeLimits] span {
  border: solid 3px red;
  color: red;
  background-color: #fff8f8;
}
[data-qtijs-tag=assessmentTest].qtijs-overtime {
  background-color: #fff8f8;
}
.qtijs-overtime [data-qtijs-tag=assessmentItem],
[data-qtijs-tag=assessmentItem].qtijs-overtime {  
  pointer-events: none;
  opacity: .8;
}
